{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
<h3>Submenu</h3>
<br />
<form action="{{ path('cat2_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>


<table class="admin">



        <tr>  
            <th style="text-align:right;">Menu</th>
            <td style="text-align:left;">{{ form_widget(form.cat1, { 'attr': {'style': 'width:200px'} }) }}</td>
        </tr>




        <tr>
            <th style="text-align:right;">Name</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.name)}}</span> 
                <input type="text" id="form_name" name="form[name]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.name) %} border:3px solid red; {% endif %}" value="{{ form.name.vars.value }}" />            
            </td>
        </tr>
       
        <tr>  
            <th style="text-align:right;">Design</th>
            <td style="text-align:left;">{{ form_widget(form.design, { 'attr': {'style': 'width:200px'} }) }}</td>
        </tr>
        <tr>  
            <th style="text-align:right;">Active</th>
            <td style="text-align:left;">{{ form_widget(form.active, { 'attr': {} }) }}</td>
        </tr>

        <tr>  
            <th style="text-align:right;">Asynhrone load</th>
            <td style="text-align:left;">{{ form_widget(form.ajaxtrue, { 'attr': {} }) }}</td>
        </tr>
</table>
<br /><br />
        <button type="submit">Save</button>
   
{{ form_widget(form._token) }} 
</form>

<ul class="admin">
    <li>
        <form action="{{ path('cat2_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

       
{% endblock %}
