
<h3>Profile</h3>
<br />

<table class="admin">
        <tr>
            <th style="text-align:right;">Name</th>
            <td style="text-align:left; ">{{ user.name }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Surname</th>
            <td style="text-align:left; ">{{ user.surname }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Username</th>
            <td style="text-align:left; ">{{ user.username }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Email</th>
            <td style="text-align:left; ">{{ user.email }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Address</th>
            <td style="text-align:left; ">{{ user.address }}</td>
        </tr>
</table>
<br />
<ul class="admin">
    <li>
        <a href="{{ path('_welcome') }}">
            Back
        </a>
    </li>
</ul>

<br><br>