{% if entity.id == 1 %}
  {% set ext = 'CmsMainBundle::mainLayout.html.twig' %}
{% else %}
  {% set ext = 'CmsMainBundle::layout.html.twig' %}
{% endif %}


{% extends ext %}


{% block title %}
:: {{ entity.title }} :: 
{% endblock %}

{% block body %}
{#
{{auto}}
<br />
{{locale}}
<br />
{% trans %}source{% endtrans %}
<br />
{{vardate|date()}} 
<br />
#}
{% autoescape false %}
{{ entity.body }}
{% endautoescape %}
{% endblock %}