{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
{% autoescape false %}
Hello {{ user.name }} {{ user.surname }}!

You can reset your password by accessing: {{ confirmationUrl }}

Greetings,
Team
{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
    {% include 'AcmeDemoBundle:User:resetting_email.html.twig' %}
#}

{% endblock %}