<h3>Reset password</h3>
<br />
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
<table class="admin">
        <tr>
            <th style="text-align:right;">Username</th>
            <td style="text-align:left; ">
               {% if invalid_username is defined %}
                <span style="color:red;">        
                     {{ invalid_username }} is not registered
                     </br>
                </span> 
                {% endif %}
                <input type="text" id="username" name="username" style="width:200px;
                    {% if invalid_username is defined %} border:3px solid red; {% endif %}" />
            </td>
        </tr>
</table>
      <input type="submit" value="Submit" />
</br>
<ul class="admin">
  <li>
        <a href="{{ path('fos_user_security_login') }}">
            Back
        </a>
  </li>
</ul>
</form>
<br><br><br><br><br><br><br><br><br>
