<h3>Resset password</h3>
<br />
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
      <table>
        <tr>
            <th style="text-align:right;"></th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.new) }}</span>            
            </td>
        </tr>

        <tr>
            <th style="text-align:right;">New password</th>
            <td style="text-align:left;">
                <input type="password" id="fos_user_resetting_form_new_first" name="fos_user_resetting_form[new][first]" required="required" />
            </td>
        </tr>
        
        <tr>
            <th style="text-align:right;">Password repeat</th>
            <td style="text-align:left;">
               <input type="password" id="fos_user_resetting_form_new_second" name="fos_user_resetting_form[new][second]" required="required" />
            </td>
        </tr>
     </table> 
 {{ form_widget(form._token) }}    
</br>
        <input type="submit" value="Submit" />
</form>
<br><br><br><br><br><br><br><br><br>
