{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<h3>Menu</h3>
<br />
<form action="{{ path('cat1_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
<table class="admin">
        <tr>
            <th style="text-align:right;">Name</th>
            <td style="text-align:left; ">
                <span style="color:red;">{{ form_errors(form.name)}}</span> 
                <input type="text" id="form_name" name="form[name]" required="required" maxlength="255" style="width:200px;
                    {% if form_errors(form.name) %} border:3px solid red; {% endif %}" value="{{ form.name.vars.value }}" />
            </td>
        </tr>
        <tr>  
            <th style="text-align:right;">Design</th>
            <td style="text-align:left;">{{ form_widget(form.design, { 'attr': {'style': 'width:200px'} }) }}</td>
        </tr>
        <tr>  
            <th style="text-align:right;">Active</th>
            <td style="text-align:left;">{{ form_widget(form.active, { 'attr': {} }) }}</td>
        </tr>
</table>
        <button type="submit" style="width:50px;">Save</button>
{{ form_widget(form._token) }} 
</form>

<form action="{{ path('cat1_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" style="width:50px;">Delete</button>
</form>

<br />
<ul class="admin">
    <li>
        <a href="{{ path('cat1') }}">
            Back to the list
        </a>
    </li>
</ul>

       
{% endblock %}