{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
{% set flag = 0 %} 
<h3>Menu</h3>
<br />

<table class="admin">
    <tbody>
    {% for entity in entities %}
      {% if entity.langcode == locale %}
       {% if entity.article.id > 2 %}
        <tr>
            <td style="font-weight:bold;text-align:left;">{{ entity.name }}</td>
            <td><span style="font-size:10px;">{{ entity.article.publishDate|date("d/M/Y H:i:s") }}</span></td>
            
            <td>
               <a href="{{ path('cat1_edit', { 'id': entity.id }) }}" style="font-size:14px;">edit</a>
            </td>
            
            <td>{% if entity.active > 0 %}
                  <img src="{{ asset('images/check.jpg') }}" alt="" />
                {% endif %}
            </td>
            <td>
               <a href="{{ path('cat1_down', { 'id': entity.id } ) }}" ><img src="{{ asset('images/arrow_down.jpg') }}" alt="down" /></a>
            </td>
            <td>
               <a href="{{ path('cat1_up', { 'id': entity.id }) }}" ><img src="{{ asset('images/arrow_up.jpg') }}" alt="up" /></a>
            </td>
            <td></td>

        </tr>
        
        
        
        
      {% for cat2 in entity.cat2s %}
              <tr>
            <td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cat2.name }}</td>
            <td><span style="font-size:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cat2.article.publishDate|date("d/M/Y H:i:s") }}</span></td>
            
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('cat2_edit', { 'id': cat2.id }) }}" style="font-size:12px;">edit</a>
            </td>
            
            <td>{% if cat2.active > 0 %}
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="{{ asset('images/check.jpg') }}" alt="" width="17" />
                {% endif %}
            </td>
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('cat2_down', { 'id': cat2.id, 'cat1Id': cat2.cat1.id }) }}" ><img src="{{ asset('images/arrow_down.jpg') }}" alt="down" width="17" /></a>
            </td>
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('cat2_up', { 'id': cat2.id, 'cat1Id': cat2.cat1.id }) }}" ><img src="{{ asset('images/arrow_up.jpg') }}" alt="up" width="17" /></a>
            </td>
            <td>{% if cat2.ajaxtrue > 0 %}
                  <img src="{{ asset('images/loader.gif') }}" alt="" width="17" />
                {% endif %}
            </td>
              {% if cat2.cat3s|length > 0 %} {% set flag = 1 %} {% endif %}
                
            
        
        
        
        
        
        
        
        
        
              {% for cat3 in cat2.cat3s %}
              <tr>
            <td style="text-align:left; color:gray;">&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cat3.name }}</td>
            <td><span style="font-size:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;{{ cat3.article.publishDate|date("d/M/Y H:i:s") }}</span></td>
            
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;<a href="{{ path('cat3_edit', { 'id': cat3.id }) }}" style="font-size:10px;">edit</a>
            </td>
            
            <td>{% if cat3.active > 0 %}
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp; <img src="{{ asset('images/check.jpg') }}" alt="" width="14" />
                {% endif %}
            </td>
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;<a href="{{ path('cat3_down', { 'id': cat3.id, 'cat2Id': cat3.cat2.id }) }}" ><img src="{{ asset('images/arrow_down.jpg') }}" alt="down" width="14" /></a>
            </td>
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;<a href="{{ path('cat3_up', { 'id': cat3.id, 'cat2Id': cat3.cat2.id }) }}" ><img src="{{ asset('images/arrow_up.jpg') }}" alt="up" width="14" /></a>
            </td>
            <td>{% if cat3.ajaxtrue > 0 %}
                 &nbsp;&nbsp;&nbsp;<img src="{{ asset('images/loader.gif') }}" alt="" width="14" />
                {% endif %}
            </td>
        </tr>
      {% endfor %}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      {% endfor %}    
        
      {% endif %}
      {% endif %}
    {% endfor %}
    </tbody>
</table>

<ul class="admin">
    <li>
        <a href="{{ path('cat1_new') }}">
            Create a new menu
        </a>
    </li>
    
  {#
    <li>
        <a href="{{ path('cat2_new') }}">
            Create 1st level submenu
        </a>
    </li>
  #}
{% if flag > 0  %}
    <li>
        <a href="{{ path('cat3_new') }}">
            Create 2nd level submenu
        </a>
    </li>
{% endif %}
</ul>

<br><br><br><br><br>
{% endblock %}
