       
        {% for entity in entities %}
          {% if entity.article.id > 2 %}
             <a href="          {% if entity.article.slagtrue != '1' %}
            {{ url('article_show', { 'slug': entity.article.autoslag, 'id': entity.article.id }) }}
          {% else %}
             {{ url('article_show', { 'slug': entity.article.slag, 'id': entity.article.id }) }} 
          {% endif %} " style="padding-right:2px; font-weight:bold; color:grey; font-size:10px;">
               {{ entity.name }} |
             </a>            
          {% endif %} 
        {% endfor %}        
