<div style="position:absolute; left:51px; top:199px; width:110px; height:57px;">
    <map id="map0" name="map0">
        <area shape="poly" coords="25,33,23,31,21,32,19,31,16,30,15,27,15,22,17,20,23,20,25,22,26,25,25,28,26,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="56,32,55,31,53,30,52,28,52,24,53,23,57,23,59,25,59,28,54,28,54,30,57,30,59,29,58,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="103,31,101,31,101,25,98,25,98,31,96,31,96,25,93,25,93,31,91,31,91,23,93,24,94,23,97,23,99,24,99,23,102,23,103,25" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="80,29,81,28,81,26,80,25,77,25,77,29,78,30,80,30" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="57,26,57,25,54,25,54,27,57,27" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="42,29,43,28,43,26,42,25,39,25,39,29,40,30,42,30" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="87,31,85,31,85,23,87,23,88,24,88,23,90,23,90,25,88,25,87,26" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="80,32,78,31,76,30,75,28,75,25,77,24,77,23,81,23,82,25,83,27,83,30,82,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="42,32,40,31,38,30,37,28,37,25,39,24,39,23,43,23,44,25,45,27,45,30,44,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="31,32,29,31,27,30,27,23,29,23,29,29,30,30,32,29,32,23,35,23,35,31,33,30,31,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="21,29,20,28,22,28,23,29,23,23,22,22,18,22,17,23,17,28,18,29,19,30,21,30" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="67,31,65,31,65,20,73,20,73,22,67,22,67,25,72,25,72,27,67,27" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="50,32,49,31,47,31,47,25,46,25,46,23,47,23,47,21,49,20,49,23,51,23,51,25,49,25,49,29,50,30,51,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="104,47,109,39,109,7,103,1,15,1,9,10,9,42,14,48,104,48" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="26,31,25,28,26,25,25,22,23,20,17,20,15,22,15,29,17,31,19,32,21,31,24,32,25,33" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="21,30,19,30,18,29,17,28,17,23,18,22,22,22,23,23,23,29,22,28,20,28,21,29" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="31,31,33,30,35,31,35,23,32,23,32,30,30,29,29,27,29,23,27,23,27,30,29,31,31,32" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="42,30,40,30,39,29,39,25,42,25,43,26,43,29" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="42,31,44,30,45,28,45,25,43,24,43,23,39,23,37,25,37,30,38,31,40,32" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="50,31,51,30,50,29,49,28,49,25,51,25,51,23,49,23,49,20,47,21,47,23,46,23,46,25,47,25,47,31,49,31,50,32" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="56,31,58,30,59,29,57,30,54,30,54,28,59,28,59,25,57,23,53,23,52,25,52,30,53,31,55,32" href="{{ path('quote_new') }}" alt="">
        <area shape="rect" coords="54,25,58,28" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="67,27,72,27,72,25,67,25,67,22,73,22,73,20,65,20,65,31,67,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="80,30,78,30,77,29,77,25,80,25,81,26,81,29" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="80,31,82,30,83,28,83,25,81,24,81,23,77,23,75,25,75,30,76,31,78,32" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="87,29,87,26,88,25,90,25,90,23,88,23,87,24,87,23,85,23,85,31,87,31" href="{{ path('quote_new') }}" alt="">
        <area shape="poly" coords="103,26,102,24,102,23,99,23,97,24,97,23,94,23,93,24,91,23,91,31,93,31,93,25,96,25,96,31,98,31,98,25,101,25,101,31,103,31" href="{{ path('quote_new') }}" alt="">
    </map>
    
    
    
    <img src="/_wp_generated/wp510ba549.png" width="110" height="57" border="0" id="obj_64" name="obj_64" title="" alt="" onload="OnLoadPngFix()" usemap="#map0"></div>
<div style="position:absolute; left:51px; top:139px; width:110px; height:57px;">
    <map id="map1" name="map1">
        <area shape="poly" coords="78,32,76,31,74,30,73,28,73,25,75,24,75,23,79,23,81,26,81,28,75,28,76,30,78,29,81,29,80,31" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="47,31,45,31,45,26,40,26,40,31,38,31,38,20,40,20,40,24,45,24,45,20,47,20" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="79,26,78,26,78,25,76,25,75,26,75,27,79,27" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="72,31,70,31,70,26,69,25,67,26,67,31,65,31,65,26,64,25,62,26,62,31,59,31,59,23,66,23,67,24,67,23,71,23,72,25" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="54,29,55,28,55,25,52,25,51,26,51,28,52,29,52,30,54,30" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="54,32,52,31,50,30,49,28,49,25,51,24,51,23,56,23,57,25,58,27,57,29,56,31" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="104,47,109,39,109,7,103,1,15,1,9,10,9,42,14,48,104,48" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="47,20,45,20,45,24,40,24,40,20,38,20,38,31,40,31,40,26,45,26,45,31,47,31" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="54,30,52,30,52,28,51,27,52,26,52,25,55,25,55,29" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="55,31,57,30,58,28,57,26,56,24,56,23,51,23,50,25,49,27,50,29,50,31,52,31,54,32" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="72,26,71,24,71,23,67,23,66,24,66,23,59,23,59,31,62,31,62,25,64,26,65,27,65,31,67,31,67,25,69,26,70,27,70,31,72,31" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="78,31,81,29,78,29,76,30,75,28,81,28,81,26,80,24,79,23,75,23,74,25,73,27,73,30,74,31,76,32" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
        <area shape="poly" coords="79,27,75,27,75,26,76,25,78,25,78,26,79,26" href="{% if entity_b.slagtrue != '1' %}
       {{ url('article_show', { 'slug': entity_b.autoslag, 'id':1 }) }}
 {% else %}
             {{ url('article_show', { 'slug': entity_b.slag, 'id':1 }) }} 
{% endif %}" alt="">
    </map>
    <img src="/_wp_generated/wp6c02eaa8.png" width="110" height="57" border="0" id="obj_69" name="obj_69" title="" alt="" onload="OnLoadPngFix()" usemap="#map1"></div>