
{% block subject %}Registration email{% endblock %}

{% block body_text %}
{% autoescape false %}
Dear {{ user.name }} {{ user.surname }} !


Thank you for registering your account. 

To conform it please click on following link: {{ confirmationUrl }} 

Best regards,

Team
{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
 {% include 'AcmeDemoBundle:User:resetting_email.html.twig' %}
#}
{% endblock %}