{% extends 'CmsMainBundle::layout.html.twig' %}

{% block body %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}

