<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

<h3>Register</h3>
<br /> 
 
 <table class="admin">
 
 
        <tr>
            <th style="text-align:right;"></th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form) }}</span>            
            </td>
        </tr>

        <tr>
            <th style="text-align:right;">Username</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.username)}}</span> 
                <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.username) %} border:3px solid red; {% endif %}" value="{{ form.username.vars.value }}" />            
            </td>
        </tr>
        
      
 
        <tr>
            <th style="text-align:right;">Email</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.email)}}</span> 
                <input type="text" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.email) %} border:3px solid red; {% endif %}" value="{{ form.email.vars.value }}" />            
            </td>
        </tr>

 


      
 
        <tr>
            <th style="text-align:right;">Password</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.plainPassword)}}</span> 
                <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.plainPassword) %} border:3px solid red; {% endif %}" value="{{ form.plainPassword.first.vars.value }}" />            
            </td>
        </tr>
 
  


      
 
        <tr>
            <th style="text-align:right;">Password </ br>repeat</th>
            <td style="text-align:left;">
                <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.plainPassword) %} border:3px solid red; {% endif %}" value="{{ form.plainPassword.second.vars.value }}" />            
            </td>
        </tr>
 
 
         
      
 
        <tr>
            <th style="text-align:right;">Name</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.name)}}</span> 
                <input type="text" id="fos_user_registration_form_name" name="fos_user_registration_form[name]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.name) %} border:3px solid red; {% endif %}" value="{{ form.name.vars.value }}" />            
            </td>
        </tr> 
 
         
      
 
        <tr>
            <th style="text-align:right;">Surname</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.surname)}}</span> 
                <input type="text" id="fos_user_registration_form_surname" name="fos_user_registration_form[surname]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.surname) %} border:3px solid red; {% endif %}" value="{{ form.surname.vars.value }}" />            
            </td>
        </tr>


      
 
        <tr>
            <th style="text-align:right;">Address</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.address)}}</span> 
                <textarea id="fos_user_registration_form_address" name="fos_user_registration_form[address]" required="required" style="width:200px;{% if form_errors(form.address) %} border:3px solid red; {% endif %}" />{{ form.address.vars.value }} 
                </textarea>            
            </td>
        </tr>
</table>

 <br />

<ul class="admin">
  <li>
     <a href="{{ path('crud_user') }}" class="admin">Back to list </a>  
  </ li>
</ul>   
  <br /> 

<input type="submit" value="Register" />
{{ form_widget(form._token) }} 
</form>