{% extends 'CmsMainBundle::layout.html.twig' %}
{% block body %}

<form action="{{ path("fos_user_security_check") }}" method="post">

<table class="admin">
{% if error %}
        <tr>
            <th style="text-align:right;"></th>
            <td style="text-align:left;">
                <span style="color:red;">{{ error }}</span>            
            </td>
        </tr>
{% endif %}



        <tr>
            <th style="text-align:right;">Username</th>
            <td style="text-align:left;">
    <input type="text" id="username" name="_username" value="{{ last_username }}" style="width:200px;" />            
            </td>
        </tr>
        


        <tr>
            <th style="text-align:right;">Password</th>
            <td style="text-align:left;">
    <input type="password" id="password" name="_password" style="width:200px;" />            
            </td>
        </tr>
        
        
        <tr>
            <th style="text-align:right;"></th>
            <td style="text-align:left;">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />Remember me          
            </td>
        </tr> 
        
 </table>      

    <input type="submit" id="_submit" name="_submit" value="Login" />
</form>

</ br>
             <ul class="admin">
                <li>
                  <a href="{{ path('fos_user_resetting_request') }}">Forgot password</a>
                </li>
             </ul> 
        
<br><br><br><br><br><br><br><br><br>
{% endblock body%}
