<h1>Document list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Path</th>
            <th>Body</th>
            <th>Title</th>
            <th>Thumbnail</th>
            <th>Active</th>
            <th>Publish_date</th>
            <th>Temp1</th>
            <th>Temp2</th>
            <th>Temp3</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('document_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.path }}</td>
            <td>{{ entity.body }}</td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.thumbnail }}</td>
            <td>{{ entity.active }}</td>
            <td>{% if entity.publishdate %}{{ entity.publishdate|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.temp1 }}</td>
            <td>{{ entity.temp2 }}</td>
            <td>{{ entity.temp3 }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('document_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('document_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('document_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
