<h1>Document</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ entity.body }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Thumbnail</th>
            <td>{{ entity.thumbnail }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{{ entity.active }}</td>
        </tr>
        <tr>
            <th>Publish_date</th>
            <td>{{ entity.publishdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Temp1</th>
            <td>{{ entity.temp1 }}</td>
        </tr>
        <tr>
            <th>Temp2</th>
            <td>{{ entity.temp2 }}</td>
        </tr>
        <tr>
            <th>Temp3</th>
            <td>{{ entity.temp3 }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('document') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('document_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('document_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
