{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<link href="/css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

<style type="text/css" media="screen">
#slider1 {
    width: 720px; /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}

#slider1Content {
    width: 720px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 290px;
}
ul { list-style-type: none;}
</style>

<style>
li {color:red;}
</style>

<script language="javascript">
    $j(document).ready(function() {
        $j("#maindiv").height('1500px'); 
        $j("#pic_35").attr('src','/_wp_generated/backg_1500px_glove.png');  
    });
</script>


<h3>Upload File</h3>

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Upload Document" />
</form>


    {% for entity in entities %}
      {% if entity.title %} 
   
            {% set photo_path = '/uploads/documents/'~entity.path %}

             
              <div style="float:left; padding:10px;">
                 <img src="{{ photo_path | apply_filter('my_thumb') }}" />                                 
                 <a href="{{ path('document_edit', { 'id': entity.id }) }}">edit</a>
              </div>

      {% endif %}
   {% endfor %}


{% endblock %}
