{% extends 'CmsMainBundle::layout.html.twig' %}

{% block title %}
:||: 
{% endblock %}

{% block body %}

<script language="javascript">
    $j(document).ready(function() {
        $j("#maindiv").height('1500px'); 
        $j("#pic_35").attr('src','/_wp_generated/backg_1500px_glove.png');  
    });
</script>

<link href="/css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

<style>
  li {
	  color:red;
	  list-style:none;
     }
	 
</style>

<h3>Quote edit</h3>

<br>
<form action="{{ path('quote_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <ul>
      <li>
        <button type="submit">Save</button>
      </li>
    </ul>
</form>

<ul class="record_actions">

    <li>
        <form action="{{ path('quote_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    
    <li>
        <a href="{{ path('quote') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
