{% extends 'CmsMainBundle::layout.html.twig' %}

{% block title %}
:||: 
{% endblock %}

{% block body %}


<h3>Quote list</h3>
<br>
<table class="records_list">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Destination</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('quote_edit', { 'id': entity.id }) }}" style="color:brown; padding:5px;">edit</a></td>
            <td>{{ entity.name }}</td>         
            <td>{{ entity.destination }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
<br><br><br><br>

{% endblock %}


