{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<script language="javascript">
    $j(document).ready(function() {
        $j("#maindiv").height('1500px'); 
        $j("#pic_35").attr('src','/_wp_generated/backg_1500px_glove.png');  
    });
</script>

<meta charset="utf-8">
	
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<link href="/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<link href="/css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<style>
  li {
	  color:red;
     }
#cms_mainbundle_quotetype_transportTime_minute,
#cms_mainbundle_quotetype_transportTime_hour,
#cms_mainbundle_quotetype_returnTime_minute,
#cms_mainbundle_quotetype_returnTime_hour,
#cms_mainbundle_quotetype_people
     {
	  display:inline-block;
	  width:50px;	 
     }
#cms_mainbundle_quotetype_single
     {
	  width:90px;	 
     }
</style>
	
	
	
	
	
	
	<script>
		$j(function(){

				// Datepicker
				$j('#cms_mainbundle_quotetype_transportDate').datepicker({
					inline: true,
				    dateFormat: "yy-mm-dd"
				});
				
				// Datepicker
				$j('#cms_mainbundle_quotetype_returnDate').datepicker({
					inline: true,
				    dateFormat: "yy-mm-dd"
				});
		})
	</script>
    



<form action="{{ path('quote_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
<input type="submit" />
</form>
<p class="Normal-P"><span class="Normal-C0">Please note all items marked * must be completed</span></P>

{% endblock %}

