<h1>Quote</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>People</th>
            <td>{{ entity.people }}</td>
        </tr>
        <tr>
            <th>Transportdate</th>
            <td>{{ entity.transportDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Transporttime</th>
            <td>{{ entity.transportTime }}</td>
        </tr>
        <tr>
            <th>Point</th>
            <td>{{ entity.point }}</td>
        </tr>
        <tr>
            <th>Destination</th>
            <td>{{ entity.destination }}</td>
        </tr>
        <tr>
            <th>Single</th>
            <td>{{ entity.single }}</td>
        </tr>
        <tr>
            <th>Returndate</th>
            <td>{{ entity.returnDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Returntime</th>
            <td>{{ entity.returnTime }}</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>{{ entity.points }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Info</th>
            <td>{{ entity.info }}</td>
        </tr>
        <tr>
            <th>Find</th>
            <td>{{ entity.find }}</td>
        </tr>
        <tr>
            <th>Temp1</th>
            <td>{{ entity.temp1 }}</td>
        </tr>
        <tr>
            <th>Temp2</th>
            <td>{{ entity.temp2 }}</td>
        </tr>
        <tr>
            <th>Temp3</th>
            <td>{{ entity.temp3 }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('quote') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('quote_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('quote_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
