{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
<div style="padding:20px; height:300px;">
   Your message has been sent and we will reply to you shortly
</div>
{% endblock %}
