<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content="en" http-equiv="Content-Language"/>
        <title>{% block title %} :| |: {% endblock %}</title>   
       {% stylesheets
         '@CmsMainBundle/Resources/public/css/main.css'
       %}
          <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />          
       {% endstylesheets %}
<style type="text/css">
<!--
body {margin: 0px; padding: 0px;}
a:link {color: #182028;}
a:visited {color: #979fa7;}
a:hover {color: #182028;}
a:active {color: #b7cfdf;}
.Normal-P
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400; 
        }
.Normal-C
        {
        font-family:"Arial", sans-serif; font-size:16.0px; line-height:1.19em; 
        }
.Normal-C0
        {
        font-family:"Times New Roman", serif; font-size:16.0px; 
        line-height:1.25em; 
        }
-->
</style>
<script type="text/javascript"><!--
var blankSrc = "//_wp_scripts/blank.gif";
--></script>
<script src="//_wp_scripts/jspngfix.js" type="text/javascript"></script>
</head>

<body text="#000000" style="background: #d2dfed; text-align:center; height:1000px;">
<div style="background: transparent; position:relative;width:800px;height:1000px;margin-left:auto;margin-right:auto;">
<div style="position:absolute; left:40px; top:20px; width:721px; height:780px;">
    <img src="/_wp_generated/wp75e4008a.png" width="721" height="780" border="0" id="pic_35" name="pic_35" title="" alt="" onload="OnLoadPngFix()"></div>
<div id="txt_5_C01" style="position:absolute; left:200px; top:141px; width:520px; height:380px;">
    <div class="Normal-P">
        <span class="Normal-C">Chariots4hire is a family run business which was established in 1991. We are a fully insured and licensed Public Service Vehicle (PSV) Operator. All our minibuses are fitted with seat belts and maintained to a very high standard.<br></span>
        <span class="Normal-C"><br></span>
        <span class="Normal-C"> We are situated in close proximity to Stansted airport, Harlow and Bishop&#39;s Stortford.<br></span>
        <span class="Normal-C"><br></span>
        <span class="Normal-C">Our chauffeur driven minibuses for up to 16 passengers are available for private, contract or corporate work of any description.<br></span>
        <span class="Normal-C"><br></span>
        <span class="Normal-C">Typical services include trips to restaurants, theatres, pubs and clubs, sporting venues such as racing, football and cricket, airports and corporate functions.<br></span>
        <span class="Normal-C"><br></span>
        <span class="Normal-C">So whatever the venue click here for an <a href="quote.html">online quote</a><br></span>
        <span class="Normal-C"><br></span>
        <span class="Normal-C">or call for a Chariot on......01279 724020</span><span class="Normal-C0"></span></div>
</div>
<div style="position:absolute; left:51px; top:199px; width:110px; height:57px;">
    <map id="map0" name="map0">
        <area shape="poly" coords="25,33,23,31,21,32,19,31,16,30,15,27,15,22,17,20,23,20,25,22,26,25,25,28,26,31" href="quote.html" alt="">
        <area shape="poly" coords="56,32,55,31,53,30,52,28,52,24,53,23,57,23,59,25,59,28,54,28,54,30,57,30,59,29,58,31" href="quote.html" alt="">
        <area shape="poly" coords="103,31,101,31,101,25,98,25,98,31,96,31,96,25,93,25,93,31,91,31,91,23,93,24,94,23,97,23,99,24,99,23,102,23,103,25" href="quote.html" alt="">
        <area shape="poly" coords="80,29,81,28,81,26,80,25,77,25,77,29,78,30,80,30" href="quote.html" alt="">
        <area shape="poly" coords="57,26,57,25,54,25,54,27,57,27" href="quote.html" alt="">
        <area shape="poly" coords="42,29,43,28,43,26,42,25,39,25,39,29,40,30,42,30" href="quote.html" alt="">
        <area shape="poly" coords="87,31,85,31,85,23,87,23,88,24,88,23,90,23,90,25,88,25,87,26" href="quote.html" alt="">
        <area shape="poly" coords="80,32,78,31,76,30,75,28,75,25,77,24,77,23,81,23,82,25,83,27,83,30,82,31" href="quote.html" alt="">
        <area shape="poly" coords="42,32,40,31,38,30,37,28,37,25,39,24,39,23,43,23,44,25,45,27,45,30,44,31" href="quote.html" alt="">
        <area shape="poly" coords="31,32,29,31,27,30,27,23,29,23,29,29,30,30,32,29,32,23,35,23,35,31,33,30,31,31" href="quote.html" alt="">
        <area shape="poly" coords="21,29,20,28,22,28,23,29,23,23,22,22,18,22,17,23,17,28,18,29,19,30,21,30" href="quote.html" alt="">
        <area shape="poly" coords="67,31,65,31,65,20,73,20,73,22,67,22,67,25,72,25,72,27,67,27" href="quote.html" alt="">
        <area shape="poly" coords="50,32,49,31,47,31,47,25,46,25,46,23,47,23,47,21,49,20,49,23,51,23,51,25,49,25,49,29,50,30,51,31" href="quote.html" alt="">
        <area shape="poly" coords="104,47,109,39,109,7,103,1,15,1,9,10,9,42,14,48,104,48" href="quote.html" alt="">
        <area shape="poly" coords="26,31,25,28,26,25,25,22,23,20,17,20,15,22,15,29,17,31,19,32,21,31,24,32,25,33" href="quote.html" alt="">
        <area shape="poly" coords="21,30,19,30,18,29,17,28,17,23,18,22,22,22,23,23,23,29,22,28,20,28,21,29" href="quote.html" alt="">
        <area shape="poly" coords="31,31,33,30,35,31,35,23,32,23,32,30,30,29,29,27,29,23,27,23,27,30,29,31,31,32" href="quote.html" alt="">
        <area shape="poly" coords="42,30,40,30,39,29,39,25,42,25,43,26,43,29" href="quote.html" alt="">
        <area shape="poly" coords="42,31,44,30,45,28,45,25,43,24,43,23,39,23,37,25,37,30,38,31,40,32" href="quote.html" alt="">
        <area shape="poly" coords="50,31,51,30,50,29,49,28,49,25,51,25,51,23,49,23,49,20,47,21,47,23,46,23,46,25,47,25,47,31,49,31,50,32" href="quote.html" alt="">
        <area shape="poly" coords="56,31,58,30,59,29,57,30,54,30,54,28,59,28,59,25,57,23,53,23,52,25,52,30,53,31,55,32" href="quote.html" alt="">
        <area shape="rect" coords="54,25,58,28" href="quote.html" alt="">
        <area shape="poly" coords="67,27,72,27,72,25,67,25,67,22,73,22,73,20,65,20,65,31,67,31" href="quote.html" alt="">
        <area shape="poly" coords="80,30,78,30,77,29,77,25,80,25,81,26,81,29" href="quote.html" alt="">
        <area shape="poly" coords="80,31,82,30,83,28,83,25,81,24,81,23,77,23,75,25,75,30,76,31,78,32" href="quote.html" alt="">
        <area shape="poly" coords="87,29,87,26,88,25,90,25,90,23,88,23,87,24,87,23,85,23,85,31,87,31" href="quote.html" alt="">
        <area shape="poly" coords="103,26,102,24,102,23,99,23,97,24,97,23,94,23,93,24,91,23,91,31,93,31,93,25,96,25,96,31,98,31,98,25,101,25,101,31,103,31" href="quote.html" alt="">
    </map>
    <img src="/_wp_generated/wp510ba549.png" width="110" height="57" border="0" id="obj_64" name="obj_64" title="" alt="" onload="OnLoadPngFix()" usemap="#map0"></div>
<div style="position:absolute; left:51px; top:139px; width:110px; height:57px;">
    <map id="map1" name="map1">
        <area shape="poly" coords="78,32,76,31,74,30,73,28,73,25,75,24,75,23,79,23,81,26,81,28,75,28,76,30,78,29,81,29,80,31" href="index.html" alt="">
        <area shape="poly" coords="47,31,45,31,45,26,40,26,40,31,38,31,38,20,40,20,40,24,45,24,45,20,47,20" href="index.html" alt="">
        <area shape="poly" coords="79,26,78,26,78,25,76,25,75,26,75,27,79,27" href="index.html" alt="">
        <area shape="poly" coords="72,31,70,31,70,26,69,25,67,26,67,31,65,31,65,26,64,25,62,26,62,31,59,31,59,23,66,23,67,24,67,23,71,23,72,25" href="index.html" alt="">
        <area shape="poly" coords="54,29,55,28,55,25,52,25,51,26,51,28,52,29,52,30,54,30" href="index.html" alt="">
        <area shape="poly" coords="54,32,52,31,50,30,49,28,49,25,51,24,51,23,56,23,57,25,58,27,57,29,56,31" href="index.html" alt="">
        <area shape="poly" coords="104,47,109,39,109,7,103,1,15,1,9,10,9,42,14,48,104,48" href="index.html" alt="">
        <area shape="poly" coords="47,20,45,20,45,24,40,24,40,20,38,20,38,31,40,31,40,26,45,26,45,31,47,31" href="index.html" alt="">
        <area shape="poly" coords="54,30,52,30,52,28,51,27,52,26,52,25,55,25,55,29" href="index.html" alt="">
        <area shape="poly" coords="55,31,57,30,58,28,57,26,56,24,56,23,51,23,50,25,49,27,50,29,50,31,52,31,54,32" href="index.html" alt="">
        <area shape="poly" coords="72,26,71,24,71,23,67,23,66,24,66,23,59,23,59,31,62,31,62,25,64,26,65,27,65,31,67,31,67,25,69,26,70,27,70,31,72,31" href="index.html" alt="">
        <area shape="poly" coords="78,31,81,29,78,29,76,30,75,28,81,28,81,26,80,24,79,23,75,23,74,25,73,27,73,30,74,31,76,32" href="index.html" alt="">
        <area shape="poly" coords="79,27,75,27,75,26,76,25,78,25,78,26,79,26" href="index.html" alt="">
    </map>
    <img src="/_wp_generated/wp6c02eaa8.png" width="110" height="57" border="0" id="obj_69" name="obj_69" title="" alt="" onload="OnLoadPngFix()" usemap="#map1"></div>
<div style="position:absolute; left:180px; top:140px; width:1px; height:340px;">
    <img src="/_wp_generated/wpd2bf1ea2.png" width="1" height="340" border="0" id="crv_1" name="crv_1" title="" alt=""></div>
</div>
</body>
</html>
































<!DOCTYPE html>
<html>








<body>

<div id="wrapper" style="border:1px solid black;">

 <div id="header" style="border:1px solid red;">
 
   <!--<div style="position:absolute; width:165px; height:150px; cursor:hand;" onclick="window.location = '/'">   </div> -->
   <div id="logo" style="border:1px solid blue;">
    <h1>LOGO</h1>
   </div>
   

   
   
   <div id="lang" style="border:1px solid yellow"> 
      {% render "CmsMainBundle:Lang:sidebarLang" %}
   </div>
   

  {% if is_granted('ROLE_SUPER_ADMIN') %}  
   <div>
      <a href="{{ url('lang')}}" style="padding:10px">
        Languages
      </a>
      &nbsp;&nbsp;
      <a href="{{ url('cat1')}}" style="padding:10px">
        Menus
      </a>      
      &nbsp;&nbsp;
      <a href="{{ url('external')}}" style="padding:10px">
        External menus
      </a>
      &nbsp;&nbsp;
      <a href="{{ url('crud_user')}}" style="padding:10px">
        Users
      </a>
   </div>
  {% endif %}


  {% if is_granted('ROLE_USER') %}
    <div style="text-align:right; color:brown;">  
      Hallo <strong>{{ app.user.name }} {{ app.user.surname }}</strong>
      <a href="{{ url('fos_user_profile_show')}}" style="padding:10px">profile</a>
      <a href="{{ url('fos_user_security_logout')}}" style="padding:10px">logout</a>
    
    </div>
  {% endif %}

 
 
    <div style="height:30px; width:300px; position:relative; top:70px;" class="fb-like" data-href="http://chariots4hire.co.uk/" data-send="true" data-width="450" data-show-faces="true"></div>



   
 </div>
 

 
 <div class="clear">&nbsp;</div> 
 
 
 
 
 
 <div id="menus" style="border:1px solid orange;z-index:1;">
    {% render "CmsMainBundle:Cat1:sidebar" %}
 </div> 
 
 <div id="content" style="border:1px solid green">
    {% block body %}{% endblock %} 
 </div>
 
 <div class="clear">&nbsp;</div>
 
 <div id="footer" style="border:1px solid #9900CC;"> 
    foot:<a rel="nofollow" target="_blank" href="#">link</a>
 </div>
	
</div>





</body>

       
       {% javascripts
         '@CmsMainBundle/Resources/public/js/siteutils.js'
         '@CmsMainBundle/Resources/public/js/sitewindow.js'
        %}
        
           <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
        
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
           fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));</script>

</html>

           
