<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content="en" http-equiv="Content-Language"/>
        <title>{% block title %} :| |: {% endblock %}</title>   
       {% stylesheets
         '@CmsMainBundle/Resources/public/css/main.css'
       %}
          <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />          
       {% endstylesheets %}
<style type="text/css">
<!--
body {margin: 0px; padding: 0px;}
a:link {color: #182028;}
a:visited {color: #979fa7;}
a:hover {color: #182028;}
a:active {color: #b7cfdf;}
.Normal-P
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;font-family:"Arial", sans-serif; font-size:16.0px; line-height:1.19em; 
        }
-->
</style>
       {% javascripts
         '@CmsMainBundle/Resources/public/js/jquery-min.js'
       %}
        
           <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
<script type="text/javascript"><!--
var blankSrc = "/_wp_scripts/blank.gif";
--></script>
<script src="/_wp_scripts/jspngfix.js" type="text/javascript"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>

<body text="#000000" style="background: #d2dfed; height:1000px;">

  {% if is_granted('ROLE_SUPER_ADMIN') %} 
       <div> 
         {% render "CmsMainBundle:Admin:admin" %}
       </div>
  {% endif %}

<div  id="maindiv" style="background: transparent; position:relative;width:800px;height:1000px;margin-left:auto;margin-right:auto;">

<div style="position:absolute; left:40px; top:20px; width:721px; height:780px;">
    <img src="/_wp_generated/wp75e4008a.png" width="721" border="0" id="pic_35" name="pic_35" title="" alt="" onload="OnLoadPngFix()">
</div>

<div id="txt_5_C01" style="position:absolute; left:200px; top:141px; width:520px; height:380px;">
    <div class="Normal-P">
      {% block body%} {% endblock %}
      <br /><br />
      <div class="fb-like" data-href="http://chariots4hire.co.uk/" data-send="true" data-width="450" data-show-faces="true"></div>
      <br><br>
                   
                  <div style="position:relative; right:150px; width:700px;">
                   {% render "CmsMainBundle:Cat1:sidebarBotom" %}
                  </div>

      
      
    </div>
</div>
             {% render "CmsMainBundle:Cat1:sidebarOld" %}
   
<div style="position:absolute; left:180px; top:140px; width:1px; height:340px;">
    <img src="/_wp_generated/wpd2bf1ea2.png" width="1" height="340" border="0" id="crv_1" name="crv_1" title="" alt="">
</div>

</div>
   
</body>
</html>


