<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content="en" http-equiv="Content-Language"/>
        <title>{% block title %} :| |: {% endblock %}</title>   
       {% stylesheets
         '@CmsMainBundle/Resources/public/css/main.css'
       %}
          <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />          
       {% endstylesheets %}
<!--Page Head-->
<style type="text/css">
<!--
body {margin: 0px; padding: 0px;}
a:link {color: #182028;}
a:visited {color: #979fa7;}
a:hover {color: #182028;}
a:active {color: #b7cfdf;}
.Normal-P
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400; 
        }
.Normal-P0
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400; 
        }
.Normal-P1
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:right; font-weight:400; 
        }
.Normal-C
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:19.0px; 
        line-height:1.21em; color:#0b5085; 
        }
.Normal-C0
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:11.0px; 
        line-height:1.27em; color:#0b5085; 
        }
.Normal-C1
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:40.0px; 
        line-height:1.18em; color:#0b5085; 
        }
.Normal-C2
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:32.0px; 
        line-height:1.19em; color:#0b5085; 
        }
.Normal-C3
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:15.0px; 
        line-height:1.20em; color:#ffffff; 
        }
.Normal-C4
        {
        font-family:"Verdana", sans-serif; font-size:12.0px; 
        line-height:1.17em; color:#ffffff; 
        }
.Normal-C5
        {
        font-family:"Verdana", sans-serif; font-size:11.0px; 
        line-height:1.18em; color:#ffffff; 
        }
.Normal-C6
        {
        font-family:"Verdana", sans-serif; font-size:12.0px; 
        line-height:1.17em; 
        }
-->
</style>

       {% javascripts
         '@CmsMainBundle/Resources/public/js/jquery-min.js'
       %}
        
           <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
<script src="/_wp_scripts/jspngfix.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/s3Slider.js"></script>
<script type="text/javascript">

    var blankSrc = "/_wp_scripts/blank.gif";

    $j(document).ready(function() {
        $j('#slider1').s3Slider({
            timeOut: 4000 
        });
    });
</script>

<style type="text/css" media="screen">
#slider1 {
    width: 720px; /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}

#slider1Content {
    width: 720px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 290px;
}
ul { list-style-type: none;}
</style>

<style>
li {color:red;}
</style>
</head>

<body text="#000000" style="background: #d2dfed; height:1000px;">
<div style="background: transparent; position:relative;width:800px;height:1000px;margin-left:auto;margin-right:auto;">

<div style="position:absolute; left:40px; top:20px; width:721px; height:780px;">
    <img src="/_wp_generated/wp75e4008a.png" width="721" height="780" border="0" id="pic_35" name="pic_35" title="" alt="" onload="OnLoadPngFix()"></div>
<div style="position:absolute; left:58px; top:558px; width:209px; height:171px;">
    <img src="/_wp_generated/wp39b657db.png" width="209" height="171" border="0" id="qs_174" name="qs_174" title="" alt="" onload="OnLoadPngFix()"></div>
<div style="position:absolute; left:525px; top:558px; width:209px; height:171px;">
    <img src="/_wp_generated/wp39b657db.png" width="209" height="171" border="0" id="qs_175" name="qs_175" title="" alt="" onload="OnLoadPngFix()"></div>
<div style="position:absolute; left:292px; top:558px; width:209px; height:171px;">
    <img src="/_wp_generated/wp39b657db.png" width="209" height="171" border="0" id="qs_176" name="qs_176" title="" alt="" onload="OnLoadPngFix()"></div>
<div id="txt_7" style="position:absolute; left:127px; top:420px; width:547px; height:135px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<P class="Normal-P"><span class="Normal-C">Quality chauffeur driven minibus hire</span></P>
<P class="Normal-P"><span class="Normal-C0">&nbsp;</span></P>
<P class="Normal-P"><span class="Normal-C1">01279 724020</span></P>
<P class="Normal-P"><span class="Normal-C2">admin@chariots4hire.co.uk</span></P>
</div>
<div id="txt_52" style="position:absolute; left:78px; top:569px; width:178px; height:91px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<P class="Normal-P0"><span class="Normal-C3">Online Quote</span></P>
<P class="Normal-P0"><span class="Normal-C4">&nbsp;</span></P>
<P class="Normal-P0"><span class="Normal-C5">Please click on the &quot;Get Quote&quot; button below to go to our online quote form</span></P>
</div>
<div id="txt_54" style="position:absolute; left:310px; top:569px; width:177px; height:92px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<P class="Normal-P0"><span class="Normal-C3">Our Business</span></P>
<P class="Normal-P0"><span class="Normal-C4">&nbsp;</span></P>
<P class="Normal-P0"><span class="Normal-C5">A bit about us...</span></P>
</div>
<div id="txt_56" style="position:absolute; left:544px; top:569px; width:176px; height:93px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<P class="Normal-P0"><span class="Normal-C3">Send Email</span></P>
<P class="Normal-P0"><span class="Normal-C4">&nbsp;</span></P>
<P class="Normal-P0"><span class="Normal-C5">If you have any queries click the link below to send us an email</span></P>
</div>
<div style="position:absolute; left:303px; top:669px; width:187px; height:46px;">
    <map id="map0" name="map0">
        <area shape="poly" coords="68,27,65,27,64,24,58,24,57,27,54,27,60,14,63,14" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="86,25,87,24,88,23,87,22,87,20,86,20,85,19,85,20,83,20,83,25,85,25,85,26" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="74,25,75,24,76,23,75,22,75,20,74,19,73,19,72,20,71,21,71,24,72,25,73,26" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="97,28,95,27,93,26,93,18,95,18,95,25,96,26,98,25,99,23,99,18,102,18,102,27,97,27" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="134,28,131,28,129,27,128,25,130,24,131,26,134,26,134,24,132,23,129,23,128,21,129,19,131,18,131,17,134,17,136,18,137,20,134,20,134,19,131,19,131,21,134,21,136,22,137,24,136,26,134,27" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="86,28,84,27,82,26,80,25,80,20,82,19,84,18,86,17,89,19,90,21,90,25,88,27" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="75,28,73,27,69,27,69,14,71,14,71,18,73,17,75,18,77,19,78,21,78,26,77,27" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="61,17,59,22,63,22" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="123,28,119,28,117,26,116,23,116,14,118,14,118,23,119,25,123,25,124,22,124,14,127,14,127,22,126,25,125,27" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="109,28,106,28,105,27,105,20,104,20,104,18,105,18,105,16,107,14,107,18,109,18,109,20,107,20,107,25,109,25" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="181,36,186,30,186,6,181,1,13,1,9,8,9,33,14,37,181,37" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="63,14,60,14,54,27,57,27,58,24,64,24,65,27,68,27" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="63,22,59,22,61,17" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="74,26,73,25,72,24,71,23,71,20,72,20,73,19,74,20,75,21,76,22,75,23,75,25" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="75,27,77,26,78,24,78,19,77,18,75,17,73,18,71,18,71,14,69,14,69,27,73,27,75,28" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="85,26,85,25,83,25,83,20,85,20,85,19,86,20,87,21,88,22,87,23,87,25,86,25" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="87,27,89,26,90,24,90,20,88,18,86,17,84,18,82,19,80,20,80,25,82,26,84,27,86,28" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="97,27,102,27,102,18,99,18,99,25,98,26,96,25,95,23,95,18,93,18,93,27,95,28" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="109,27,109,25,107,25,107,20,109,20,109,18,107,18,107,14,105,16,105,18,104,18,104,20,105,20,105,27,106,28,109,28" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="123,27,126,26,126,23,127,21,127,14,124,14,124,24,123,25,119,25,118,22,118,14,116,14,116,26,119,27,119,28,123,28" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
        <area shape="poly" coords="134,27,136,26,137,24,136,22,134,21,131,21,131,19,134,19,134,20,137,20,136,18,134,17,131,17,129,18,128,20,129,22,129,23,132,23,134,24,134,26,131,26,130,24,128,25,129,27,131,28,134,28" href="{{ path('article_show', { 'id': 2 } ) }}" alt="">
    </map>
    <img src="/_wp_generated/wp44a3c8de.png" width="187" height="46" border="0" id="obj_24" name="obj_24" title="" alt="" onload="OnLoadPngFix()" usemap="#map0"></div>
<div style="position:absolute; left:70px; top:669px; width:187px; height:46px;">
    <map id="map1" name="map1">
        <area shape="poly" coords="101,29,98,28,96,27,93,28,90,27,89,24,88,21,88,17,90,15,91,14,98,14,100,16,101,19,101,24,99,26,102,27" href="quote.html" alt="">
        <area shape="poly" coords="139,28,136,28,134,27,133,25,133,19,134,18,136,17,138,17,140,18,142,21,142,23,135,23,136,25,138,26,139,24,142,25,140,27" href="quote.html" alt="">
        <area shape="poly" coords="72,28,69,28,67,27,66,25,66,19,67,18,69,17,71,17,73,18,75,21,75,23,68,23,69,25,71,26,72,24,75,25,73,27" href="quote.html" alt="">
        <area shape="poly" coords="59,28,56,27,53,26,51,24,51,18,53,16,54,14,61,14,63,16,61,18,60,16,56,16,54,18,54,24,55,25,60,25,61,22,58,22,58,20,64,20,64,26,62,27" href="quote.html" alt="">
        <area shape="poly" coords="139,21,138,20,137,19,136,20,135,21,135,22,139,22" href="quote.html" alt="">
        <area shape="poly" coords="120,25,122,25,122,20,120,20,120,19,119,20,118,21,117,22,118,23,118,25,119,25,120,26" href="quote.html" alt="">
        <area shape="poly" coords="72,21,71,20,70,19,69,20,68,21,68,22,72,22" href="quote.html" alt="">
        <area shape="poly" coords="108,28,106,28,104,27,103,25,103,18,106,18,106,25,108,26,109,24,110,22,110,18,112,18,112,27,110,26,108,27" href="quote.html" alt="">
        <area shape="poly" coords="121,28,119,27,117,27,116,25,115,23,115,20,117,18,119,17,121,18,123,19,125,20,125,25,123,26,121,27" href="quote.html" alt="">
        <area shape="poly" coords="94,24,96,23,97,24,98,22,98,18,96,16,92,16,91,18,91,24,92,25" href="quote.html" alt="">
        <area shape="poly" coords="131,28,129,28,128,27,128,20,126,20,126,18,128,18,128,16,130,14,130,18,132,18,132,20,130,20,130,25,132,25,132,27" href="quote.html" alt="">
        <area shape="poly" coords="81,28,79,28,78,27,78,20,76,20,76,18,78,18,78,16,80,14,80,18,82,18,82,20,80,20,80,25,82,25,82,27" href="quote.html" alt="">
        <area shape="poly" coords="181,36,186,30,186,6,181,1,13,1,9,8,9,33,14,37,181,37" href="quote.html" alt="">
        <area shape="poly" coords="60,27,62,26,64,26,64,20,58,20,58,22,61,22,60,25,55,25,54,22,54,18,56,16,60,16,61,18,63,16,61,14,54,14,52,16,51,19,51,24,53,26,56,27,59,28" href="quote.html" alt="">
        <area shape="poly" coords="72,27,74,26,75,25,72,24,71,26,69,25,68,23,75,23,75,21,74,19,71,17,69,18,67,19,66,21,66,26,67,27,69,28,72,28" href="quote.html" alt="">
        <area shape="poly" coords="72,22,68,22,69,21,70,20,71,19,72,20" href="quote.html" alt="">
        <area shape="poly" coords="81,27,82,27,82,25,80,25,80,20,82,20,82,18,80,18,80,14,78,16,78,18,76,18,76,20,78,20,78,27,79,28,81,28" href="quote.html" alt="">
        <area shape="poly" coords="102,27,99,26,101,24,101,17,99,15,98,14,91,14,89,16,88,19,88,24,90,26,93,27,96,28,97,27,100,28,101,29" href="quote.html" alt="">
        <area shape="poly" coords="94,25,92,24,91,22,91,17,92,16,96,16,98,18,98,23,96,24,95,23" href="quote.html" alt="">
        <area shape="poly" coords="108,27,110,26,112,27,112,18,110,18,110,24,108,25,107,26,106,24,106,18,103,18,103,25,104,27,106,28" href="quote.html" alt="">
        <area shape="poly" coords="120,26,119,25,118,24,117,23,118,22,118,20,119,20,120,19,120,20,122,20,122,25,120,25" href="quote.html" alt="">
        <area shape="poly" coords="121,27,123,26,125,25,125,20,123,19,121,18,119,17,116,19,115,21,115,25,117,27,119,28" href="quote.html" alt="">
        <area shape="poly" coords="131,27,132,27,132,25,130,25,130,20,132,20,132,18,130,18,130,14,128,16,128,18,126,18,126,20,128,20,128,27,129,28,131,28" href="quote.html" alt="">
        <area shape="poly" coords="139,27,141,26,142,25,139,24,138,26,136,25,135,23,142,23,142,21,141,19,138,17,136,18,134,19,133,21,133,26,134,27,136,28,139,28" href="quote.html" alt="">
        <area shape="poly" coords="139,22,135,22,136,21,137,20,138,19,139,20" href="quote.html" alt="">
    </map>
    <img src="/_wp_generated/wp02b8a27b.png" width="187" height="46" border="0" id="obj_33" name="obj_33" title="" alt="" onload="OnLoadPngFix()" usemap="#map1"></div>
<div style="position:absolute; left:535px; top:669px; width:187px; height:46px;">
    <map id="map2" name="map2">
        <area shape="poly" coords="92,25,92,23,90,23,89,24,89,26,91,26" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="91,28,89,28,87,27,86,25,87,23,87,22,90,22,92,21,92,19,90,20,89,21,87,20,87,18,89,17,92,17,94,18,95,20,95,27,93,26,91,27" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="84,27,82,27,82,20,80,19,79,21,78,23,78,27,76,27,76,20,74,19,73,21,72,23,72,27,70,27,70,18,72,19,74,18,76,17,78,18,78,19,80,18,82,17,84,18" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="rect" coords="98,18,102,28" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="131,28,128,28,126,27,125,25,128,24,129,26,131,25,132,24,129,24,126,22,125,20,126,18,128,17,131,17,133,18,134,20,131,20,131,19,128,19,128,21,131,21,132,22,134,23,134,26" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="120,28,117,28,114,26,113,23,113,14,116,14,116,25,121,25,121,14,124,14,124,25,122,27" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="rect" coords="103,14,107,28" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="rect" coords="98,14,102,17" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="67,27,57,27,57,14,67,14,67,16,60,16,60,19,67,19,67,21,60,21,60,25,67,25" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="181,36,186,30,186,6,181,1,13,1,9,8,9,33,14,37,181,37" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="67,25,60,25,60,21,67,21,67,19,60,19,60,16,67,16,67,14,57,14,57,27,67,27" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="84,21,84,18,82,17,80,18,78,19,76,18,74,17,73,19,72,18,70,18,70,27,72,27,72,21,74,20,75,19,76,21,76,27,78,27,78,21,80,20,81,19,82,21,82,27,84,27" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="91,26,89,26,89,24,90,23,92,23,92,25" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="91,27,93,26,95,27,95,19,92,17,89,17,87,18,87,20,89,21,90,19,92,20,90,22,87,22,86,24,87,26,89,28" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="rect" coords="98,18,102,28" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="rect" coords="98,14,102,17" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="rect" coords="103,14,107,28" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="120,27,123,26,124,23,124,14,121,14,121,25,116,25,116,14,113,14,113,25,115,27,117,28" href="mailto:admin@chariots4hire.co.uk" alt="">
        <area shape="poly" coords="132,27,134,26,134,22,132,22,131,21,128,21,128,19,131,19,131,20,134,20,133,18,131,17,128,17,126,18,125,20,127,23,129,24,132,24,131,26,129,26,128,24,125,25,126,27,128,28,131,28" href="mailto:admin@chariots4hire.co.uk" alt="">
    </map>
    <img src="/_wp_generated/wp8ddf2ea1.png" width="187" height="46" border="0" id="obj_41" name="obj_41" title="" alt="" onload="OnLoadPngFix()" usemap="#map2"></div>
<div id="txt_62" style="position:absolute; left:720px; top:960px; width:60px; height:21px;-moz-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<P class="Normal-P1"><span class="Normal-C6">V1.5</span></P>
</div>



<div style="position:absolute; left:40px; top:115px; width:720px; height:291px; z-index:100;">

    <div id="slider1">
        <ul id="slider1Content">
        
        
             {% for entity in entities_f %}
    
             {% set photo_path = '/uploads/documents/'~entity.path %}
               
                <li class="slider1Image">
                   <a href=""><img src="{{ photo_path | apply_filter('my_thumb_full') }}" alt="1" /></a>
                  <span class="left"><strong>{{ entity.title }}</strong><br />{{ entity.body }}</span>
               </li>
             
            {% endfor %}
         </ul>
     </div>

</div>










</div>
</body>

</html>


 