* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #fff;
	font-size: 12px;
	font-family: Arial;
	color: #000;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	vertical-align: bottom;
	border: 0;
}

.clear {
	height: 0;
	font-size: 0;
	clear: both;
}

/* Page structure */

#wrapper {
	width: 996px;
	margin: 0 auto;
	position: relative;
	min-height:600px;
	/* background: url('../images/wrapper_bg.jpg') repeat-y;*/
}

#header {
    position:relative;
	width: 100%;
	height: 150px;
	/* background: #fff url('../images/head.jpg') no-repeat; */
}

#logo {
float:left;
width: 23%;
height:100%;
text-align:center;

}

#lang {
float:left;
width:75%;
text-align:right;
}

#admin {
float:left;
width:75%;
text-align:right;
}

#content {
	padding:5px;
	width: 75%;
	float: left;
	margin-bottom:25px; /*same size with footer hight*/
	min-height:100%;
	}


/* Footer */

#footer {
	width: 100%;
	height: 25px;
	/*background: url('../images/footer_bg.jpg') repeat-y 29px;*/
	position:absolute;
	bottom: 0;
	left: 0;
	text-align: center;

}


/* Menu */

#menus {
    float:left;
	width: 23%;
	height: auto;
	list-style: none;
	margin-bottom:25px; /*same size with footer hight*/
}


#menus .menu {
	list-style: none;
	width: 100%;
}

#menus .menu li {
	position: relative;
}

#menus .menu a {
	font-size: 14px;
	display: block;
	padding: 4px 18px;
}

#menus .menu .active a, #menus .menu .hover a {
		background-color:red;
}

#menus .submenu {
	display:none;
	background-color: #fff;
	border: 2px solid #5d6f7f;
	position: absolute;
	top:0;
	left:100%;
	list-style: none;
}

#menus .submenu a {
	white-space: nowrap;
}

#menus .menu .submenu a {
	background: none;
}


.admin td 
{
	padding:5px;
	text-align:center;
	font-size:14px;
	
	}
.admin a {
	color:red;
	font-size:10px;
	}

.admin th {
	font-weight:bold;
	padding:5px;
	text-align:center;
	}

ul.admin  { 
    list-style:none;
    }
	



#menus .submenu2 {
	display:none;
	background-color: #fff;
	border: 2px solid green;
	position: absolute;
	top:0;
	left:100%;
	list-style: none;
}

#menus .submenu2 a {
	white-space: nowrap;
}

#menus .menu .submenu2 a {
	background: none;
}