{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
<h3>Edit user</h3>
<br />
<form action="{{ path('crud_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
   
   
   
   
 


<table class="admin">

        <tr>
            <th style="text-align:right;"></th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form) }}</span>            
            </td>
        </tr>

        <tr>
            <th style="text-align:right;">Name</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.name)}}</span> 
                <input type="text" id="cms_userbundle_usertype_name" name="cms_userbundle_usertype[name]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.name) %} border:3px solid red; {% endif %}" value="{{ form.name.vars.value }}" />            
            </td>
        </tr>
        
        
        
        <tr>
            <th style="text-align:right;">Surname</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.surname)}}</span> 
                <input type="text" id="cms_userbundle_usertype_surname" name="cms_userbundle_usertype[surname]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.surname) %} border:3px solid red; {% endif %}" value="{{ form.surname.vars.value }}" />            
            </td>
        </tr>      
        
        
        
         <tr>
            <th style="text-align:right;">Userame</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.username)}}</span> 
                <input type="text" id="cms_userbundle_usertype_username" name="cms_userbundle_usertype[username]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.username) %} border:3px solid red; {% endif %}" value="{{ form.username.vars.value }}" />            
            </td>
        </tr>       
        
        
        
 
        <tr>
            <th style="text-align:right;">Email</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.email)}}</span> 
                <input type="text" id="cms_userbundle_usertype_email" name="cms_userbundle_usertype[email]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.email) %} border:3px solid red; {% endif %}" value="{{ form.email.vars.value }}" />            
            </td>
        </tr>
 
        

        <tr>  
            <th style="text-align:right;">Enabled</th>
            <td style="text-align:left;">{{ form_widget(form.enabled, { 'attr': {} }) }}</td>
        </tr>

        <tr>  
            <th style="text-align:right;">Locked</th>
            <td style="text-align:left;">{{ form_widget(form.locked, { 'attr': {} }) }}</td>
        </tr>
        
         <tr>  
            <th style="text-align:right;">Roles</th>
            <td style="text-align:left;">
            
            
            {% for role in entity.roles %}
                <a href="{{ path('crud_user_remove_role', { 'id': entity.id, 'role': role }) }}" class="admin"> Remove </a> &nbsp; {{ role }}<br />
            {% endfor %}
            
            
            <ul class="admin">
               <li>
                 <a href="{{ path('crud_user_add_role', { 'id': entity.id }) }}" class="admin"> Add new role </a>  
               </ li>
            </ ul>
            
            
            </td>
         </tr>
           
        
        
</table>
<br />

<ul class="admin">
  <li>
     <a href="{{ path('crud_user') }}" class="admin">Back to list </a>  
  </ li>
</ul>   
  <br /> 
   

<button type="submit">Save</button>
{{ form_widget(form._token) }} 
</form>

<ul class="admin">
    <li>
        <form action="{{ path('crud_user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete user</button>
        </form>
    </li>
</ul>
{% endblock %}
