{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
<h3>Users</h3>
<br />

<table class="admin">
    <tbody>
    
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Lastlogin</th>
            <th></th>
          </tr>


   {% for entity in entities %}
        <tr>
            <td>{{ entity.username }}</td>
            <td>{{ entity.email }}</td>         
            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date("d/M/Y H:i:s") }}{% endif%}</td>
            <td><a href="{{ path('crud_user_edit', { 'id': entity.id }) }}">edit</a></td>
        </tr>
     {% endfor %}
</table>       


<ul class="admin">
    <li>
        <a href="{{ path('fos_user_registration_register') }}">
            Create a new user
        </a>
    </li>
</ul>
<br><br><br><br><br><br><br><br><br>


{% endblock %}
