
		<link type="text/css" href="/css/hot-sneaks/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script type="text/javascript">
			$j(function(){
	

				// Dialog			
				$j('#dialog').dialog({
					autoOpen: true,
					width: 250,
                    position: [10,10],
					draggable: true
				});

				
				//hover states on the static widgets
				$j('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
				
			});
		</script>

<div id="dialog" title="Admin Menu " style="text-align:left;">

<span style="color:black;">Registered: <strong>{{ app.user.name }} {{ app.user.surname }}</strong></span>
<br><br>

     <p>
       <span style="color:black;">Edit main pages:</span>
       <br>
       <a href="{{ url('document_upload')}}" style="padding:10px">
        Main page
       </a>
       <br>
        <a href="{{ path('article_edit', { 'slug': 'slug', 'id': 2 }) }}" style="padding:10px">
        About us
       </a>
     </p>
      
     <br>
      
     <p>
       <span style="color:black;">Edit Google menus:</span>
       <br>
       <a href="{{ url('cat1_new')}}" style="padding:10px">
        NEW
       </a>       
       <br>
        {% for entity in entities %}
          {% if entity.article.id > 2 %}
             <a href="{{ path('article_edit', { 'slug': 'slug', 'id': entity.article.id }) }}" style="padding:10px">
               {{ entity.name }}
             </a>
             <br>
          {% endif %} 
        {% endfor %}        

     </p>
       
     <br>
      
     <p>
       <span style="color:black;">Quotes:</span>
       <br>
       <a href="{{ url('quote')}}" style="padding:10px">
        Quotes
       </a>
       <br>
       <a href="{{ url('google_chart')}}" style="padding:10px">
        Reports
       </a>
     </p>   
       
     <br>
      
     <p>
       <span style="color:black;">Utilities:</span>
       <br>
       <a href="{{ url('crud_user')}}" style="padding:10px">
        Users
       </a>
       <br>
       <a href="{{ url('external')}}" style="padding:10px">
        External menus
       </a>
       <br><br>
       <a href="{{ url('fos_user_security_logout')}}" style="padding:10px">
        Logout
       </a>
     </p>    

 </div>