<h1>Cat3 list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ajaxtrue</th>
            <th>Langcode</th>
            <th>Name</th>
            <th>Active</th>
            <th>Position</th>
            <th>Design</th>
            <th>Temp1</th>
            <th>Temp2</th>
            <th>Temp3</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('cat3_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.ajaxtrue }}</td>
            <td>{{ entity.langcode }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.active }}</td>
            <td>{{ entity.position }}</td>
            <td>{{ entity.design }}</td>
            <td>{{ entity.temp1 }}</td>
            <td>{{ entity.temp2 }}</td>
            <td>{{ entity.temp3 }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('cat3_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cat3_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('cat3_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
