{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<h3>New 2nd level submenu</h3>
<br />

<form action="{{ path('cat3_create') }}" method="post" {{ form_enctype(form) }}>


<table class="admin">



        <tr>  
            <th style="text-align:right;">Menu</th>
            <td style="text-align:left;">{{ form_widget(form.cat2, { 'attr': {'style': 'width:200px'} }) }}</td>
        </tr>




        <tr>
            <th style="text-align:right;">Name</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.name)}}</span> 
                <input type="text" id="form_name" name="form[name]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.name) %} border:3px solid red; {% endif %}" value="{{ form.name.vars.value }}" />            
            </td>
        </tr>
       
        <tr>  
            <th style="text-align:right;">Design</th>
            <td style="text-align:left;">{{ form_widget(form.design, { 'attr': {'style': 'width:200px'} }) }}</td>
        </tr>
        <tr>  
            <th style="text-align:right;">Active</th>
            <td style="text-align:left;">{{ form_widget(form.active, { 'attr': {} }) }}</td>
        </tr>

        <tr>  
            <th style="text-align:right;">Asynhrone load</th>
            <td style="text-align:left;">{{ form_widget(form.ajaxtrue, { 'attr': {} }) }}</td>
        </tr>
</table>
<br /><br />
        <button type="submit">Create</button>
   
{{ form_widget(form._token) }} 
</form>
<br />
<ul class="admin">
    <li>
        <a href="{{ path('cat1') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}