<h1>Cat3</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Ajaxtrue</th>
            <td>{{ entity.ajaxtrue }}</td>
        </tr>
        <tr>
            <th>Langcode</th>
            <td>{{ entity.langcode }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{{ entity.active }}</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ entity.position }}</td>
        </tr>
        <tr>
            <th>Design</th>
            <td>{{ entity.design }}</td>
        </tr>
        <tr>
            <th>Temp1</th>
            <td>{{ entity.temp1 }}</td>
        </tr>
        <tr>
            <th>Temp2</th>
            <td>{{ entity.temp2 }}</td>
        </tr>
        <tr>
            <th>Temp3</th>
            <td>{{ entity.temp3 }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('cat3') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cat3_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('cat3_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
