{% extends 'CmsMainBundle::layout.html.twig' %}

{% block title %}
:||: 
{% endblock %}

{% block body %}
  <!--Load the AJAX API-->    
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>    
	<script type="text/javascript">      
	
	// Load the Visualization API and the piechart package.     
	 google.load('visualization', '1.0', {'packages':['corechart']});     
	
	// Set a callback to run when the Google Visualization API is loaded.     
	 google.setOnLoadCallback(drawChart);      
	
	// Callback that creates and populates a data table,   
	// instantiates the pie chart, passes in the data and      
    // draws it.     
		   
     function drawChart() {        
    // Create the data table.     
		 var data = new google.visualization.DataTable();       
		 data.addColumn('string', 'Topping');       
		 data.addColumn('number', 'Slices');       
		 data.addRows([         
				 ['Our website', {{ result.our_website}} ],         
				 ['Search engine', {{ result.search_engine}} ],          
				 ['Yell.com', {{ result.yell_com}} ],          
				 ['Yellow Pages', {{ result.yellow_pages}} ],          
				 ['Thompson Website', {{ result.thompson_website}} ],        
				 ['Thompson directory', {{ result.thompson_directory}} ],        
				 ['Sign written bus', {{ result.sign_written_bus}} ],        
				 ['Repeat booking', {{ result.repeat_booking}} ],        
				 ['Other', {{ result.other}} ]       
					  ]);       
	
	// Set chart options      
		var options = {'title':'uQuotes Chariots4hire',                     
					   'width':450,                      
					  'height':270};      
   
   // Instantiate and draw our chart, passing in some options.     
		var chart = new google.visualization.PieChart(document.getElementById('chart_div'));     
				chart.draw(data, options);    
				} 
				
				
				
      google.load('visualization', '1', {packages:['table']});     
	  google.setOnLoadCallback(drawTable);     
	  function drawTable() {       
	     var data = new google.visualization.DataTable();        
		 data.addColumn('string', 'Name');        
		 data.addColumn('number', 'Quotes');        
		 data.addRows(9);        
		 
		 data.setCell(0, 0, 'Our website');        		
		 data.setCell(0, 1, 2, '{{ result.our_website}}');        
		 data.setCell(1, 0, 'Search engine');        
		 data.setCell(1, 1, 3, '{{ result.search_engine}}');        
		 data.setCell(2, 0, 'Yell.com');        
		 data.setCell(2, 1, 5, '{{ result.yell_com}}');        
		 data.setCell(3, 0, 'Yellow Pages');      
		 data.setCell(3, 1, 6, '{{ result.yellow_pages}}'); 
		 data.setCell(4, 0, 'Thompson Website');        
		 data.setCell(4, 1, 3, '{{ result.thompson_website}}'); 
		 data.setCell(5, 0, 'Thompson directory');        
		 data.setCell(5, 1, 2, '{{ result.thompson_directory}}');
		 data.setCell(6, 0, 'Sign written bus');        
		 data.setCell(6, 1, 2, '{{ result.sign_written_bus}}');
		 data.setCell(7, 0, 'Repeat booking');        
		 data.setCell(7, 1, 2, '{{ result.repeat_booking}}');
		 data.setCell(8, 0, 'Other');        
		 data.setCell(8, 1, 2, '{{ result.other}}');       
		var table = new google.visualization.Table(document.getElementById('table_div'));        
		table.draw(data, {showRowNumber: true});      
	  }
     </script> 
   <!--Div that will hold the pie chart-->
       
       <div style="left:100px; position:relative;" id="chart_div"></div>
       <div id='table_div'></div>
{% endblock %}