{% extends 'CmsMainBundle::layout.html.twig' %}

{% block title %}
:||: 
{% endblock %}

{% block body %}
<div style="padding:20px;">
You have to create first page for current language
<ul class="admin">
    <li>
        <a href="{{ path('cat1_new') }}">
            Create a first menu
        </a>
    </li>
</ul>
</div>
{% endblock %}