{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<h3>Languages</h3>
<br />
Automaticly discover users Regional and Language settings: &nbsp;
{% if entity_util.active > 0 %}
  <img src="{{ asset('images/check.jpg') }}" alt="" />
{% else %}
  <img src="{{ asset('images/uncheck.jpg') }}" alt="" />
{% endif %}
&nbsp;
<a href="{{ path('lang_change_def') }}" style="color:red; font-size:10px;">change</a>
<br />
_____________________________________________________________
<br />
<table class="admin">
    <thead>
        <tr>
            <th>Display name</th>
            <th>Country</th>
            <th>Active</th>
            <th>Move positon down</th>
            <th>Move position up</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.country }}</td>
            <td>{% if entity.active > 0 %}
                  <img src="{{ asset('images/check.jpg') }}" alt="" />
                {% endif %}
            </td>
            <td>
               <a href="{{ path('lang_down', { 'id': entity.id }) }}" ><img src="{{ asset('images/arrow_down.jpg') }}" alt="down" /></a>
            </td>
            <td>
               <a href="{{ path('lang_up', { 'id': entity.id }) }}" ><img src="{{ asset('images/arrow_up.jpg') }}" alt="up" /></a>
            </td>
            <td>
               <a href="{{ path('lang_edit', { 'id': entity.id }) }}" >edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="admin">
    <li>
        <a href="{{ path('lang_new') }}">
            Create a new language
        </a>
    </li>
</ul>


{% endblock %}
