{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<h3>External menus</h3>
<br />

<table class="admin">
    <tbody>
    {% for entity in entities %}
      {% if entity.locale == locale %}
        <tr>
            <td style="text-align:left;">{{ entity.name }}</td>
          
          
          
          
          {% if entity.slagtrue %}
            <td style="text-align:left; color:blue;">{{ domain }}/{{ entity.slag }}/{{ entity.id }}/show</td>
          {% else %}  
              <td style="text-align:left; color:blue;">{{ domain }}/{{ entity.autoslag }}/{{ entity.id }}/show</td>
          {% endif %}  
            
            
            
            
            <td><span style="font-size:9px;">{{ entity.publishDate|date("d/M/Y H:i:s") }}</span></td>
            <td>
               <a href="{{ path('external_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>

<ul class="admin">
    <li>
        <a href="{{ path('external_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

<br><br><br><br><br><br><br><br><br>

{% endblock %}
