{% extends 'CmsMainBundle::layout.html.twig' %}         

{% block body %}

<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>

<form action="{{ path('external_create') }}" method="post" {{ form_enctype(form) }}>

<div align="left"><span style="color:red; font-size:14px; font-weight:bold;">{{ form_errors(form) }}</span></div>

   <table class="admin" style="background-color:#F0F0F0;width:505px;">
   
          <tr>
            <td></td>
            <td style="text-align:right;width:500px;">
                <div align="left"><span style="color:red;">{{ form_errors(form.name)}}</span></div>
                <input type="text" id="form_title" name="form[name]" required="required" maxlength="255" style="width:250px;font-weight:bold;
                    {% if form_errors(form.name) %} border:3px solid red; {% endif %}" value="{{ form.name.vars.value }}" />
            </td>
            <td></td>
            <th style="text-align:left;">Name</th>
         </tr>
        
        
         <tr>
            <td rowspan="2"><img src="/images/google.png" alt="" /></td>
            <td style="text-align:right;width:500px;">
                <div align="left"><span style="color:red;">{{ form_errors(form.title)}}</span></div>
                <input type="text" id="form_title" name="form[title]" required="required" maxlength="255" style="width:250px;font-weight:bold;
                    {% if form_errors(form.title) %} border:3px solid red; {% endif %}" value="{{ form.title.vars.value }}" />
            </td>
            <td style="text-align:left;"></td>
            <th style="text-align:left;">Title</th>
        </tr>       
        
        
        <tr>
            <td style="text-align:right;">
                <div align="left"><span style="color:red;">{{ form_errors(form.slag)}}</span></div>
                <input type="text" id="form_slag" name="form[slag]" required="required" maxlength="255" style="width:250px;
                    {% if form_errors(form.slag) %} border:3px solid red; {% endif %}" value="{{ form.slag.vars.value }}" />
            </td>
            <td style="text-align:left;">{{ form_widget(form.slagtrue, { 'attr': {} }) }}</td>
            <th style="text-align:left;">Activate manual URL</th>
        </tr>
        
        
</table>  

<div align="left"><span style="color:red; font-size:14px; font-weight:bold;">{{ form_errors(form.body)}}</span></div>
{{ form_widget(form.body, { 'attr': {'style': ''} }) }}

Created: {{ entity.publishDate|date("F jS \\a\\t g:ia") }}
     

<input type="hidden" name="form[autoslag]" value="{{ form.autoslag.vars.value }}">
{{ form_widget(form._token) }} 
<br /><br />
</form>

<script type="text/javascript">


        $j("#maindiv").height('1500px'); 
        $j("#pic_35").attr('src','/_wp_generated/backg_1500px_glove.png');  

CKEDITOR.editorConfig = function( config )
{
	// Define changes to default configuration here. For example:
	  config.language = 'en';
	// config.uiColor = '#AADC6E';
};
				
CKEDITOR.replace( 'form_body',
{ 
	filebrowserBrowseUrl : '/js/ckfinder/ckfinder.html',
	filebrowserImageBrowseUrl : '/js/ckfinder/ckfinder.html?type=Images',
	filebrowserFlashBrowseUrl : '/js/ckfinder/ckfinder.html?type=Flash',
	filebrowserUploadUrl : '/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
	filebrowserImageUploadUrl : '/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
	filebrowserFlashUploadUrl : '/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
	filebrowserWindowWidth : '1000',
	filebrowserWindowHeight : '700'
});

$j(document).ready(function() {
	
	$j('#form_slagtrue').change(function(){ 
          if (this.checked)
		     {$j("#form_slag").css({'color' : 'black', 'font-weight' : 'bold'}); 
			  $j('#autoslag').css({'color' : 'grey', 'font-weight' : 'lighter'});
			 }
		  else
			  {$j("#form_slag").css({'color' : 'grey', 'font-weight' : 'lighter'}); 
			   $j('#autoslag').css({'color' : 'black', 'font-weight' : 'bold'}); 
			  } 
   }); 
 
   if ($j("#form_slagtrue").is(":checked"))
		     {$j("#form_slag").css({'color' : 'black', 'font-weight' : 'bold'}); 
			  $j('#autoslag').css({'color' : 'grey', 'font-weight' : 'lighterl'});
			 } 
   else	     {$j("#form_slag").css({'color' : 'grey', 'font-weight' : 'lighter'}); 
			  $j('#autoslag').css({'color' : 'black', 'font-weight' : 'bold'}); 
			 } 
 
});

</script>
{% endblock %}