{% extends 'CmsMainBundle::layout.html.twig' %}

{% block title %}
:: {{ entity.title }} :: 
{% endblock %}

{% block body %}
{% autoescape false %}
{{ entity.body }}
{% endautoescape %}
{% endblock %}
